<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="utitilities.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="customer_TestCases.Tc_002_GetSingleCustomer"/>
      <class name="customer_TestCases.Tc_001_GetAllCustomer"/>
      <class name="customer_TestCases.Tc_003_Add_Customer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
